body{
  background-color: #fff4e6;
  font-family: Helvetica, sans-serif;
}
h1  {
  font-size: 1.8em;
  margin-left: 1%;
  color: #5d3705;
}
h2  {
  font-size: 1.5em;
  margin-left: 2%;
  color: #5d3705;
}
p{
  color: #100900;
  width: 80%;
  margin-left: 4%;
}
#guess {
  margin-left: 6%;
}
